version: '3'
services:
  server:
    build:
      context: .
    ports:
      - "8080:8080"
    restart: always
    environment:
      - FLASK_ENV=production
      - DEBUG=False
    # volumes:
    #   - /data/word-segmentation-system/saved:/app/saved  # persistent storage
    # logging:
    #   driver: "awslogs"
    #   options:
    #     awslogs-group: "/ecs/word-segmentation-system"
    #     awslogs-region: "ap-southeast-2"
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
